<!--
-->
<button id="start-camera">Start Camera</button>
<video id="video"  width="320" height="240" autoplay></video>
<button id="click-photo">Click Photo</button>
<canvas id="canvas" width="320" height="240"></canvas>

<script>

let camera_button = document.querySelector("#start-camera");
let video = document.querySelector("#video");
let click_button = document.querySelector("#click-photo");
let canvas = document.querySelector("#canvas");

camera_button.addEventListener('click', async function() {
   	let stream = await navigator.mediaDevices.getUserMedia({ video: true, audio: false });
	video.srcObject = stream;
});

click_button.addEventListener('click', function() {
   	canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
   	let image_data_url = canvas.toDataURL('image/jpeg');

   	// data url of the image
   	console.log(image_data_url);
    return image_data_url
});

</script>


<!--

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML5 Video &amp; Audio Input</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="main.css">
    <style>
        p>audio,
        p>video,
        p>img{
            max-width:90%;
        }
    </style>
</head>
<body>
    <header>
        <h1>HTML5 Video &amp; Audio Input</h1>
        <h2>Capturing Media with HTML</h2>
    </header>
    <main>
        <form action="#" id="myform" enctype="multipart/form-data">
            <label for="capture">Capture Media</label>
            
            <input type="file" 
            id="capture" 
            accept="image/*" 
            capture 
            multiple />
            
            <br/>
            <input type="submit" value="Process" />
        </form>
        <p><img src="" id="img" alt="from phone"/></p>

        <br>

    </main>    
    <script>
        
        document.addEventListener('DOMContentLoaded', (ev)=>{
            let form = document.getElementById('myform');
            //get the captured media file
            let input = document.getElementById('capture');
            
            input.addEventListener('change', (ev)=>{
                console.dir( input.files[0] );
                if(input.files[0].type.indexOf("image/") > -1){
                    let img = document.getElementById('img');
                    img.src = window.URL.createObjectURL(input.files[0]);


                }

                
            })
            
        })
    </script>
</body>
</html>


-->