{% extends "base.html" %} 
{% block title %} Conductor View Details {% endblock %} 

{% block content %}
<div>
    

{%if trip and route%}
    <div>
        <h1 align = "center">
            Trip Details 
        </h1>
    </div>
    <div>
        <h4>Trip ID            :    <span class="badge bg-secondary btn-primary">{{trip.trip_id}}</span></h4>
        <h4>Route ID           :    <span class="badge bg-secondary btn-primary">{{trip.route_id}}</span></h4>
        <h4>Bus No             :    <span class="badge bg-secondary btn-primary">{{trip.bus_no}}</span></h4>
        <h4>From               :    <span class="badge bg-secondary btn-primary">{{route.start}}</span></h4>
        <h4>To                 :    <span class="badge bg-secondary btn-primary">{{route.end}}</span></h4>
        <h4>Intermediate Stops :    <span class="badge bg-secondary btn-primary">{{route.stops}}</span></h4>
        <h4>Date               :    <span class="badge bg-secondary btn-primary">{{trip.date}}</span></h4>
        <h4>Start Time         :    <span class="badge bg-secondary btn-primary">{{trip.start_time}}</span></h4>
        <h4>End Time           :    <span class="badge bg-secondary btn-primary">{{trip.end_time}}</span></h4>
        <h4>Collection         :    <span class="badge bg-secondary btn-primary">{{trip.collection}}</span></h4>
        <h4>Ticket Run         :    <span class="badge bg-secondary btn-primary">{{trip.ticket_run}}</span></h4>
        <h4>Current Passengers :    <span class="badge bg-secondary btn-primary">{{trip.current_passengers}}</span></h4>
        <h4>Current Stop       :    <span class="badge bg-secondary btn-primary">{{trip.current_stop}}</span></h4>
        <h4>GPS                :    <span class="badge bg-secondary btn-primary">{{trip.gps}}</span></h4>
    </div>
{%endif%}

<br><hr>






    <div>
        <h1 align = "center">TICKETS ISSUED</h1>
        <!-- DETAILS-->
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" ><b>TICKET ID</b></th>
            <th scope="col"><b>BOARDING STOP</b></th>
            <th scope="col"><b>DESTINATION STOP</b></th>
            <th scope="col"><b>NO OF PASSENGERS</b></th>
            <th scope="col"><b>TIME</b></th>
            <th scope="col"><b>FARE</b></th>
          </tr>
        </thead>
          
        <tbody>
          {%for t in tickets %}
          <tr>
            <th>{{t.ticket_id}}</th>
            <td>{{t.boarding_stop}}</td>
            <td>{{t.destination_stop}}</td>
            <td>{{t.no}}</td>
            <td>{{t.time}}</td>
            <td>{{t.fare}}</td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
  
    </div>



</div>
{% endblock %}