{% extends "base.html" %} 
{% block title %} Conductor My Trips {% endblock %} 

{% block content %}
<br>
<div align = "center">
  <h1 align = "center">Create Trip </h1>
  <div class="btn-group" role="group" aria-label="Basic example"></div>
  {%for route in cd.routes_assigned.split(",")%}
  <a class="btn btn-primary btn-success " href="/conductor-utility-create-trip/{{route}} " role="button"  > {{route}} </a>
  {%endfor%}  
  </div>
</div>
<br><hr>





  <div>
      <h1 align = "center">My Trips </h1>
      <!-- DETAILS-->
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" ><b>TRIP ID</b></th>
          <th scope="col"><b>ROUTE ID</b></th>
          <th scope="col"><b>BUS NO</b></th>
          <th scope="col"><b>DATE</b></th>
          <th scope="col"><b>START TIME</b></th>
          <th scope="col"><b>END TIME</b></th>
          <th scope="col"><b>COLLECTION</b></th>
          <th scope="col"><b>TOTAL TICKETS</b></th>
          <th scope="col"><b>VIEW DETAILS</b></th>
        </tr>
      </thead>
        
      <tbody>
        {%for t in trips %}
        <tr>
          <th>{{t.trip_id}}</th>
          <td>{{t.route_id}}</td>
          <td>{{t.bus_no}}</td>
          <td>{{t.date}}</td>
          <td>{{t.start_time}}</td>
          <td>{{t.end_time}}</td>
          <td>{{t.collection}}</td>
          <td>{{t.ticket_run}}</td>
          <td><a class="btn btn-primary " href="/conductor-view-details/{{t.trip_id}} " role="button"  >VIEW DETAILS</a></td>
        </tr>
        {%endfor%}
      </tbody>
    </table>

  </div>




<div align = "center">
  <button type = "button " class = "btn btn-secondary" onclick="refreshGPS()" >TEST JS</button><br>
</div>
<br>


{% endblock %}



