{% extends "base.html" %}
{% block title %} HOME {% endblock %} 
{% block content%}
<h1 align = "center" style ="font-weight: 600 ; color :rgb(13, 176, 245) "  >
 "Bus Ticket Digitisation & Tracking System "
</h1>
<div align = "center">
<img src="{{ url_for('static', filename='images/bus.jpg') }}" class="img-fluid" alt="Responsive image" >
</div>
<div text-align = "center" >
<h1 align = "center">Home Page</h1>
</div>

<div >
<a class="btn btn-primary btn-lg btn-block" href="/login" role="button"  >USER</a><br>
<a class="btn btn-secondary btn-lg btn-block" href="/conductor-login" role="button">CONDUCTOR</a><br>
<a class="btn btn-warning btn-lg btn-block" href="/admin-login" role="button">ADMIN</a><br>

</div>


{% endblock %}
