{% extends "base.html" %}
{% block title %} HOME {% endblock %} 
{% block content%}
<div class="container home"  >
<h1 align = "center" style ="font-weight: 600 ; color :rgb(13, 176, 245) "  >
 " Bus Tracking System for Institutions "
</h1>
<div align = "center">
<img src="{{ url_for('static', filename='images/bus.jpg') }}" class="img-fluid" alt="Responsive image" style="border-radius: 20px
;" >
</div>
<div text-align = "center" >
<h1 align = "center" style="color: white;">Home Page</h1>
</div>

<div >
<a class="btn btn-primary btn-lg btn-block" href="/student-login" role="button"  >STUDENT</a><br>
<a class="btn btn-secondary btn-lg btn-block" href="/conductor-login" role="button">CONDUCTOR</a><br>
<a class="btn btn-warning btn-lg btn-block" href="/admin-login" role="button">ADMIN</a><br>

</div>

</div>

{% endblock %}
