{% extends "base.html" %} 
{% block title %}Sign Up{% endblock %} 
{% block
content %}
<style>
  .h1{
    color: blue;
  }
  .meh{
    background-color: rgb(255, 178, 78);
  }
</style>
<form method="POST">
  <h1 align="center" class="meh">Sign Up</h3>
    
  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>

  <div class="form-group">
    <label for="phone_number">Phone Number</label>
    <input
      type="number"
      class="form-control"
      id="phone_number"
      name="phone_number"
      placeholder="Enter Phone Number"
    />
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      placeholder="Enter  name"
    />
  </div>
  <div class="form-group">
    <label for="password1">Password</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Enter password"
    />
  </div>
  <div class="form-group">
    <label for="password2">Password (Confirm)</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirm password"
    />
  </div>

  <div class="form-group">
    <label for="password2">Route</label>
    <input
      type="text"
      class="form-control"
      id="route"
      name="password2"
      placeholder="Enter Route"
    />
  </div>

  <div class="form-group">
    <label for="password2">Parents Phone Number</label>
    <input
      type="text"
      class="form-control"
      id=" parents_phone"
      name="password2"
      placeholder="Enter Parents Phone"
    />
  </div>



  <div class="form-group">
    <label for="password2">Student's Chat ID</label>
    <input
      type="text"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Enter student's chat ID"
    />
  </div>

  <div class="form-group">
    <label for="password2">Parent's Chat ID</label>
    <input
      type="text"
      class="form-control"
      id="parent_chat_id"
      name="password2"
      placeholder="Enter parent's chat ID"
    />
  </div>
  <div class="form-group">
    <label for="password2">Home Phase</label>
    <input
      type="text"
      class="form-control"
      id="home_phase"
      name="password2"
      placeholder="Enter home Phase"
    />
  </div>
  <div class="form-group">
    <label for="password2">Trigger Phase</label>
    <input
      type="text"
      class="form-control"
      id="trigger_phase"
      name="password2"
      placeholder="Enter Trigger Phase"
    />
  </div>




  
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
