{% extends "base.html" %} 
{% block title %}Student Profile{% endblock %} 

{% block content %}
<!-- DETAILS-->

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" ><b>Particulars</b></th>
        <th scope="col"><b>Details</b></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Name</th>
        <td>{{user.name}}</td>
      </tr>
      <tr>
        <th scope="row">RFID Number</th>
        <td>{{user.rfid_number}}</td>
      </tr>
      <tr>
        <th scope="row">Phone Number</th>
        <td>{{user.phone_number}}</td>
      </tr>
      <tr>
        <th scope="row">Account Type</th>
        <td>{{user.type}}</td>
      </tr>
      <tr>
        <th scope="row">Route</th>
        <td>{{student_detail.route}}</td>
      </tr>
      <tr>
        <th scope="row">Parents Phone Number</th>
        <td>{{student_detail.parents_phone}}</td>
      </tr>
      
    </tbody>
  </table>
  <a class="btn  btn-warning " href="/conductor-utility-repair-alert/ " role="button"  >RESET PASSWORD</a><br>
</div>




{% endblock %}
