{% extends "base.html" %} 
{% block title %}Student Profile{% endblock %} 

{% block content %}
<!-- DETAILS-->

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" ><b>Particulars</b></th>
        <th scope="col"><b>Details</b></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Name</th>
        <td>{{user.name}}</td>
      </tr>
      <tr>
        <th scope="row">RFID Number</th>
        <td id = "rfid_number">{{user.rfid_number}}</td>
      </tr>
      <tr>
        <th scope="row">Phone Number</th>
        <td>{{user.phone_number}}</td>
      </tr>
      <tr>
        <th scope="row">Account Type</th>
        <td>{{user.type}}</td>
      </tr>
      <tr>
        <th scope="row">Route</th>
        <td>{{student_detail.route}}</td>
      </tr>
      <tr>
        <th scope="row">Parents Phone Number</th>
        <td>{{student_detail.parents_phone}}</td>
      </tr>
      <tr>
        <th scope="row">Home Stop</th>
        <td>{{student_detail.home_phase}}</td>
      </tr>
      <tr>
        <th scope="row">Trigger Stop</th>
        <td>{{student_detail.trigger_phase}}</td>
      </tr>
      <tr>
        <th scope="row">Student Chat ID</th>
        <td>{{student_detail.student_chat_id}}</td>
      </tr>
      <tr>
        <th scope="row">Parents Chat ID</th>
        <td>{{student_detail.parent_chat_id}}</td>
      </tr>
      
    </tbody>
  </table>
  <a class="btn  btn-warning " href="/conductor-utility-repair-alert/ " role="button"  >RESET PASSWORD</a><br>
</div>

<br>

<div class="card-sm" style="width: 20rem;background: rgb(0, 115, 237); border-radius: 20px;margin-left: 5px;margin-right: 5px; padding-left: 5px;padding-right: 5px;padding-bottom : 10px;display: inline-block;">
  <form >
      <div class="form-group">
      <label for="password2"><h3>Route</h3></label>
      <input
        type="text"
        class="form-control"
        id="route_id"
        name="route_id"
        placeholder="Enter Route"
      />
      </div>
    <button class="btn btn-danger" onclick="change_route()" >Change Route</button>
  </form>
</div>

<br>
{% endblock %}
