{% extends "base.html" %} 
{% block title %} User Home {% endblock %} 

{% block content %}




<!-- QR CODE -->
<div align = "center">
<img src="{{ url_for('static', filename='/images/{0}.png'.format(user.account_number)) }}" class="img-fluid" alt="Responsive image" >
</div>


<!-- DETAILS-->
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" ><b>Particulars</b></th>
        <th scope="col"><b>Details</b></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Name</th>
        <td>{{user.name}}</td>
      </tr>
      <tr>
        <th scope="row">Account Number</th>
        <td>{{user.account_number}}</td>
      </tr>
      <tr>
        <th scope="row">Phone Number</th>
        <td>{{user.phone_number}}</td>
      </tr>
      <tr>
        <th scope="row">Account Type</th>
        <td>{{user.type}}</td>
      </tr>
      <tr>
        <th scope="row">Account Balance</th>
        <td>{{user.balance}}</td>
      </tr>
      
    </tbody>
  </table>
  </div>




{% endblock %}
