{% extends "base.html" %} 
{% block title %} Enquire Route {% endblock %} 

{% block content %}



<div>
<form method="POST">
  <h3 align="center">Enquire Route</h3>
  <div class="form-group">
    <label for="from">From</label>
    <input
      type="text"
      class="form-control"
      id="boarding_stop"
      name="boarding_stop"
      placeholder="Enter Boarding Stop"
    />
  </div>
  <div class="form-group">
    <label for="destination_stop">To</label>
    <input
      type="text"
      class="form-control"
      id="destination_stop"
      name="destination_stop"
      placeholder="Enter Destination Stop"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>



{%if possible_route_id   %}
<br><hr>

  <div align = "center">
    <h1 align = "center">View Map</h1>
    <div class="btn-group" role="group" aria-label="Basic example"></div>
    <a class="btn btn-primary btn-danger" href="/utility-view-route-map/00 " role="button"  >Madurai Map</a>
    {%for route in possible_route_id %}
    <a class="btn btn-primary btn-success " href="/utility-view-route-map/{{route}} " role="button"  > {{route}} </a>
    {%endfor%}  
    </div>
  </div>
<br><hr>


<div>
  <h1 align = "center">Results</h1>
</div>

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" ><b>ROUTE ID</b></th>
        <th scope="col"><b>BUS NUMBER</b></th>
        <th scope="col"><b>CURRENT STOP</b></th>
        <th scope="col"><b>CURRENT PASSENGERS</b></th>
        <th scope="col"><b>GPS</b></th>
        <th scope="col"><b>GPS UPDATE TIME</b></th>
        <th scope="col"><b>VIEW ON MAP</b></th>
  
      </tr>
    </thead>
      
    <tbody>

      {%for trip in  trips %}
      {%for route_id in possible_route_id %}
      {%if trip.route_id == route_id%}
      <tr>
        <th>{{trip.route_id}}</th>
        <th>{{trip.bus_no}}</th>
        <th>{{trip.current_stop}}</th>
        <th>{{trip.current_passengers}}</th>
        <th>{{trip.gps}}</th>
        <th>{{trip.gps_update_time}}</th>
        <th><button type = "button " class = "btn btn-secondary btn-success" onclick="newTab( {{ trip.lat }} , {{trip.long}} )" >MAP</button><br></th>
      </tr>
      {%endif%}
      {%endfor%}
      {%endfor%}
    </tbody>
  </table>


</div>



{%endif%}
{% endblock %}